.btn {
  height: 2rem;
  gap: 1rem;
  width: max-content;
  display: flex;
  align-items: center;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0 1rem;
}

.btn-primary {
  background-color: var(--primary-button-color);
  color: var(--text-color);
}
